@{
  Layout = null;
}
<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <title>Altran.NarrowCaster</title>
  <link href="~/Content/AltranNarrowCasterV4.less" rel="stylesheet" />
</head>
<body>

  <div class="content_area" id="header">
    <div id="altran_logo"></div>
  </div>

  <div class="content_area" id="main">
    <a href="~/api/Values">Web API</a>
  </div>

  <div class="content_area" id="widgets">

    <div class="widget" id="datetime">
      <div id="time"></div>
      <div id="date"></div>
    </div>

    <div class="widget">
    </div>

    <div class="widget widget_xh">
    </div>

    <div class="widget widget_xh">
      <h1>Agenda</h1>
    </div>

  </div>

  <div class="content_area" id="ticker">
  </div>

</body>
</html>
